.actions .add-to-links { left: 30px !important;}
.ratings { left: 45px !important; }
.ma-relatedslider-container .carousel .relatedslider-item { width: 200px !important;}
.price-box p { display: block !important;}
.product-shop .product-options-bottom .price-box { margin-right: 5px !important;}
.product-options-bottom .add-to-cart { margin-top: 10px !important;}
.product-view .product-shop .add-to-box-links { clear: both !important; width: 70%;}